
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


table {
    border-collapse: collapse;
    margin: 0 auto; 
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    font-weight: bold;
}


#compteur {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
