// styles.scss

$header-color: #3a4203;
$sidebar-color: #eaeaea;
$footer-color: #7e853c;
$color-white: #ffffff;
$widget-color: #f4f4f4;
$text-color: #3a4203;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family : Arial, sans-serif;
    background-color: $color-white;
  
}

.dashboard {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 250px 1fr; 
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
header {
  grid-area: header;
  padding: 1em;
  font-size: 1.5em; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: $header-color;
  color: $color-white; 
}
  
.sidebar {
  grid-area: sidebar; 
  background:$sidebar-color; 
  padding:1rem;
  }

.sidebar nav ul { 
  list-style: none; font-family: Arial, Helvetica, sans-serif; 
}

.sidebar-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1rem;
  color: $text-color;  
  padding-bottom: 0.3rem;
}

.img-sidebar img {
  vertical-align: middle;
  margin-right: 0.5rem;
  border-radius: 10%;
}


nav a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;   
  color: $text-color;
  font-weight: bold;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}


.sidebar li {
  padding: 0.3rem 0;
}


h1 {
  color : $color-white;
}

main {
  grid-area: main;
  padding: 1rem;
}

.widgets {
  display: flex;      
  flex-wrap: wrap;        
  gap: 2rem;              
  justify-content: center;
}

.widget1eColumns {
  background-color: $widget-color;
  flex: 1 1 calc(25% - 1.5rem); 
  max-width: calc(25% - 1.5rem);    
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}
.widget2eColumns {
  background-color: $widget-color;
  flex: 1 1 calc(25% - 1.5rem); 
  max-width: calc(25% - 1.5rem);             
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}
.widget3eColumns {
  background-color: $widget-color;
  flex: 1 1 calc(25% - 1.5rem); 
  max-width: calc(25% - 1.5rem);      
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}
.widget4eColumns {
  background-color: $widget-color;
  flex: 1 1 calc(25% - 1.5rem); 
  max-width: calc(25% - 1.5rem);     
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

.tuile {
  width: 256px;
  height: 300px;
  background-image: url('../../img/image_sprite.png');
  background-repeat: no-repeat;
}

.film1 {
  background-position: 0 0;
}
.film2 {
  background-position: -16rem 0; 
}
.film3 {
  background-position: -32em 0; 
}

.film4 {
  background-position: -48em 0; 
}
.film5 {
  background-position: -64em 0;
}
.film6 {
  background-position: -80em 0
}
.film7 {
  background-position: -96em 0;
}
.film8 {
  background-position: -128em 0;
}
.film9 {
  background-position: -144em 0;
}
.film10 {
  background-position: -160em 0;
}
.film11 {
  background-position: -176em 0;
}
.film12 {
  background-position: -192em 0;
}




.footer {
  grid-area: footer;
  background: $footer-color;
  color: $color-white;
  text-align: center;
  padding: 1.5em;
  font-size: 1.3em; 
  font-family: Arial, Helvetica, sans-serif; 
  a {
    color: $color-white; 
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


@media (max-width: 768px) {
  .tuile {
    width: 100px;
    height: 150px;
    background-size: 2400px auto; 
  }
}




























